@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;

}

:root {
    --Roxo-forte: #7400b8ff;
    --Roxo: #6930c3ff;
    --Roxo-fraco: rgb(168, 40, 200);
    --Azul-escuro: rgb(32, 40, 158);
    --Azul-muito-fraco: #4ea8deff;
    --Marinho-escuro: rgb(0, 58, 76);
    --fonte-texto: "Playwrite DK Uloopet", cursive;
    --fonte-titulo: "Playwrite BE WAL", cursive;

}
body{
    background-color: var(--Roxo-forte);
    color: var(--Marinho-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto)
}

.caixa-principal{
    background-color: var(--Roxo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.titulo{
    color: var(--Azul-escuro);
    font-family: var(--fonte-titulo);
}

button{
    background-color: var(--Azul-muito-fraco);
    color: var(--Roxo-forte);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
    margin: 10px auto;
}

button:hover{
    background-color: var(--Azul-escuro);
}